<mat-divider></mat-divider>
<div class="footer text-muted">
    <p>
        Cette application a été réalisée avec le framework
        <a href="https://angular.io">Angular</a>, ainsi que la bibliothèque
        <a
            href="https://github.com/fengyuanchen/cropperjs/blob/master/README.md"
            target="_blank"
            rel="noopener noreferer"
            >Cropper.js</a
        >
        et les bibliothèques UI
        <a
            href="https://github.com/angular/flex-layout"
            target="_blank"
            rel="noopener noreferer"
            >Angular Flex Layout</a
        >
        et
        <a
            href="https://material.angular.io"
            target="_blank"
            rel="noopener noreferer"
            >Angular Material</a
        >.
    </p>
    <p>
        <img src="./assets/logo-mini.svg" height="32" />
        2019 - Fait par Aurélien VERNAY (visitez mon
        <a href="http://aurelien-vernay-solutions.com">site web</a> pour en
        savoir plus)
    </p>
</div>
