<h1 mat-dialog-title>Enregistrer l'image</h1>
<form [formGroup]="fg">
    <mat-form-field>
        <mat-label>Nom du fichier</mat-label>
        <input matInput type="text" placeholder="" formControlName="filename" />
    </mat-form-field>
</form>
<mat-dialog-actions>
    <button
        mat-raised-button
        color="primary"
        [disabled]="!fg.valid"
        [mat-dialog-close]="fg.get('filename').value"
    >
        <mat-icon>save</mat-icon>Enregistrer
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>close</mat-icon>Annuler
    </button>
</mat-dialog-actions>
