<mat-divider></mat-divider>
<mat-toolbar role="heading">
    <mat-toolbar-row
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="1em"
        fxLayoutGap.lt-sm="1px"
    >
        <span>
            <mat-menu #toolbarMenu>
                <button mat-menu-item (click)="clickClose()">
                    <mat-icon>close</mat-icon> Fermer
                </button>
                <button mat-menu-item (click)="clickSave()">
                    <mat-icon>save</mat-icon> Enregistrer
                </button>
                <!-- Disabled for now , Clipboard API experimental
                <button mat-menu-item (click)="clickCopy()">
                    <mat-icon>file_copy</mat-icon> Copier dans le presse-papiers
                </button>
                -->
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="toolbarMenu">
                Image
            </button>
        </span>
        <span
            fxLayout="row"
            fxLayoutAlign="center center"
            fxLayoutGap="1em"
            fxLayoutGap.lt-sm="1px"
        >
            <button
                mat-raised-button
                color="primary"
                (click)="clickZoomOut()"
                matTooltip="Dézoomer"
            >
                <mat-icon>zoom_out</mat-icon>
            </button>
            <button
                mat-raised-button
                color="primary"
                (click)="clickZoomIn()"
                matTooltip="Zoomer"
            >
                <mat-icon>zoom_in</mat-icon>
            </button>
            <button
                mat-raised-button
                color="primary"
                (click)="clickResetZoom()"
                matTooltip="Revenir au zoom initial"
            >
                <mat-icon>pageview</mat-icon>
            </button>
            <button
                mat-raised-button
                color="primary"
                (click)="rotateLeft()"
                matTooltip="Retourner vers la gauche (90°)"
            >
                <mat-icon>rotate_left</mat-icon>
            </button>
            <button
                mat-raised-button
                color="primary"
                (click)="rotateRight()"
                matTooltip="Retourner vers la droite (90°)"
            >
                <mat-icon>rotate_right</mat-icon>
            </button>
            <button
                mat-raised-button
                color="primary"
                (click)="toggleCropping()"
                matTooltip="Découper"
            >
                <mat-icon>crop</mat-icon>
            </button>
        </span>
        <span></span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
