#picture-canvas {
    border: 1px solid black;
}

#pictureCanvas::before {
    content: 'test';
}

#main-container {
    min-height: 100%;
}

.ribbon {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
}

#drawing-zone {
    position: relative;
}

#cropper-overlay {
    background: #ccc;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
}
#crop-wrapper {
    position: absolute;
    cursor: move;
    border: 1px dotted #6c757d;
}

.ne,
.nw,
.se,
.sw {
    position: absolute;
    height: 1em;
    width: 1em;
    background: white;
    border: 1px solid black;
}

.ne {
    top: -0.5em;
    right: -0.5em;
    cursor: ne-resize;
}

.nw {
    top: -0.5em;
    left: -0.5em;
    cursor: nw-resize;
}
.se {
    bottom: -0.5em;
    right: -0.5em;
    cursor: se-resize;
}
.sw {
    bottom: -0.5em;
    left: -0.5em;
    cursor: sw-resize;
}
