<div
    class="mat-app-background full-height"
    fxLayout="column"
    fxLayoutAlign="space-between stretch"
    fxLayoutGap="1em"
>
    <app-header></app-header>
    <app-picture-loader
        *ngIf="!pictureSource; else imageEditor"
        (pictureLoaded)="onPictureLoaded($event)"
    ></app-picture-loader>
    <ng-template #imageEditor>
        <app-image-editor
            [(pictureSource)]="pictureSource"
            fxFlex="3 0 auto"
            fxLayout="column"
            fxLayoutAlign="center stretch"
        ></app-image-editor>
    </ng-template>
    <app-footer></app-footer>
</div>
